body {
    background-color: #000000;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav {
    padding: 8px 20px;  
    display: flex;
    align-items: center;
    padding: 30px 40px;
    position: sticky;
    width: auto;
    top: 0;
}

.nav-logo {
    width: 130px;
}

.navbuttons {
    display: flex;
    gap: 45px;
    margin-left: 40px;
    margin-right: 360px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.nav-link:hover {
    color: #ff0000;
}

.nav-login {
    padding: 8px 15px;
    background-color: #e50914;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 5px;
}

.nav-login:hover {
    background-color: #c40812;
}

.followButton {
    padding: 8px 10px;
    background-color: #000000;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.followButton:hover{
    background-color:#c40812;
}

.row-section {
    padding:1px 40px;
}

.row-title {
    margin-bottom: 1.5rem;
    color: whitesmoke;
    font-size: 1.5rem;
}

.row-container {
    display: flex;
    gap: 0.7rem;
    padding-bottom: 10px;
}

.movie-card {
    min-width: 250px;
    height: 350px;
    background: #2f2f2f;
    border-radius: 8px;
    transition: transform 0.3s;
    flex-shrink: 0;
}
.movie-card1 img{
    max-width: 500px;
}
.movie-card1 {
    min-width: 500px;
    max-width: 500px;
    height: 350px;
    background: #2f2f2f;
    border-radius: 8px;
    transition: transform 0.3s;
    flex-shrink: 0;
}
.movie-card1:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.movie-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}
