body {
    background-color: #000000;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav {
    padding: 8px 20px;  
    display: flex;
    align-items: center;
    padding: 30px 40px;
    position: sticky;
    width: auto;
    top: 0;
}

.nav-logo {
    width: 130px;
}

.navbuttons {
    display: flex;
    gap: 45px;
    margin-left: 40px;
    margin-right: 360px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.nav-link:hover {
    color: #ff0000;
}

.nav-login {
    padding: 8px 20px;
    background-color: #e50914;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 5px;
}

.nav-login:hover {
    background-color: #c40812;
}

.followButton {
    padding: 8px 20px;
    background-color: #000000;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.followButton:hover{
    background-color:#c40812;
}
.row-section {
    padding: 4rem 60px;
}

.row-title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.row-container {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: 10px;
}

.movie-card {
    min-width: 250px;
    height: 350px;
    background: #2f2f2f;
    border-radius: 8px;
    transition: transform 0.3s;
    flex-shrink: 0;
}

.movie-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.footer {
    padding: 3rem 60px;
    border-top: 8px solid #222;
    color: #777;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.footer-link {
    color: #777;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-link:hover {
    text-decoration: underline;
}