body {
    background-color: #000000;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav {
    padding: 8px 20px;  
    display: flex;
    align-items: center;
    padding: 30px 40px;
    width: auto;
    top: 0;
}

.nav-logo {
    width: 130px;
}

.navbuttons {
    display: flex;
    gap: 45px;
    margin-left: 40px;
    margin-right: 360px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.nav-link:hover {
    color: #ff0000;
}

.nav-login {
    padding: 8px 15px;
    background-color: #e50914;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 5px;
}

.nav-login:hover {
    background-color: #c40812;
}

.followButton {
    padding: 8px 10px;
    background-color: #000000;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.followButton:hover{
    background-color:#c40812;
}

.row-section {
    padding:1px 40px;
}

.row-title {
    margin-bottom: 1.5rem;
    color: whitesmoke;
    font-size: 1.5rem;
}

.row-container {
    display: flex;
    gap: 0.6rem;
    padding-bottom: 10px;
}

.movie-card{
    min-width: 200px;  
    height: 280px;
    border-radius: 10px;
}
.movie-card1{
   min-width: 450px;
    height: 280px;
    border-radius: 10px;
}

.movie-card img{
    width: 100%;
    height: 100%;
    object-fit:fill;  
    border-radius: 10px;
}
.movie-card1 img{
    width: 100%;
    height: 100%;
    object-fit:cover;  
    border-radius: 10px;
}
.movie-card:hover{
    transform: scale(1.2);
}
.movie-card1:hover{
    transform: scale(1.2);
     
}
.Anime-card{
    min-width: 340px;
     height: 200px;
     border-radius: 10px;
 }
 .Anime-card img{
    width: 100%;
    height: 100%;
    object-fit:fill;  
    border-radius: 10px;
}
.Anime-card:hover{
    transform: scale(1.4);
}
footer{
    width: 100%;
    margin: 20px;
    padding: 10px;
}
footer p{
    text-align: center;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}
footer p a{
    text-align: center;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}